In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')
df.head()

   Pregnancies  Glucose  BP  SkinThickness  Insulin   BMI  Age  Outcome
0            6      148  72             35        0  33.6   50        1
1            1       85  66             29        0  26.6   31        0
2            8      183   0              0        0  23.3   32        1
3            8      183   0             42        0  95.0   32        1

In [3]:
median1 = df['BP'].median()
median2 = df['Insulin'].median()
median3 = df['SkinThickness'].median()

In [4]:
# df.loc[]
df['BP'][df['BP'] == 0]

2    0
3    0
Name: BP, dtype: int64

In [5]:

print(median1)
print(median2)
print(median3)

33.0
0.0
32.0

In [6]:
# df.loc[df['BP'] == 0, 'BP'] = df['BP'].median()
# df.loc[df['Insulin'] == 0, 'Insulin'] = df['Insulin'].median()
# df.loc[df['SkinThickness'] == 0, 'SkinThickness'] = df['SkinThickness'].median()

In [7]:
df.head()

   Pregnancies  Glucose  BP  SkinThickness  Insulin   BMI  Age  Outcome
0            6      148  72             35        0  33.6   50        1
1            1       85  66             29        0  26.6   31        0
2            8      183   0              0        0  23.3   32        1
3            8      183   0             42        0  95.0   32        1

In [9]:
test_df = pd.DataFrame({"age": [12, 45, 11, 25, 11, 4]})

In [13]:
test_df.mode()

   age
0   11